In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')
%load_ext autoreload
%autoreload 2

In [3]:
data=pd.read_csv('/Users/bibekrai/workspace/College/Data.csv')

In [7]:
data=data.drop(columns=('Unnamed: 0'))

In [10]:
data['Phone Number']=data['Phone Number'].str.replace('|',',')

In [18]:
data['Course Offered'].astype(str)

0       Bachelor of Business Administration\n        (...
1       BSc Computer Science and Information Technolog...
2       Bachelor in Business Administration\n        (...
3       Bachelor of Information Technology\n        (B...
4       Ten Plus Two (+2) Management\n        (+2 Mang...
                              ...
1372    Bachelor of Civil Engineering\n        (BE Civ...
1373    Bachelor of Civil Engineering\n        (BE Civ...
1374    Master of Business Administration\n        (MB...
1375    Certificate in Medical Laboratory Technology\n...
1376    Bachelor of Business Administration\n        (...
Name: Course Offered, Length: 1377, dtype: object

In [19]:
data.dtypes

College           object
Location          object
University        object
Course Offered    object
Ownership Type    object
Phone Number      object
Email             object
dtype: object

In [20]:
data['Course Offered']=data['Course Offered'].split(', ')

AttributeError: 'Series' object has no attribute 'split'