In [1]:
#importing necessary module

import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading dataset

data=pd.read_csv('/Users/bibekrai/workspace/College/Data.csv')

In [5]:
data=data.drop(columns={'Unnamed: 0'})

In [7]:
data.isnull()

,College,Location,University,Course Offered,Ownership Type,Phone Number,Email
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
1372,False,False,False,False,False,True,True
1373,False,False,False,False,False,True,True
1374,False,False,False,False,False,False,False
1375,False,False,False,False,False,True,True
1376,False,False,False,False,False,True,True

In [8]:
data.isnull().sum()

College              0
Location             2
University          20
Course Offered       0
Ownership Type      35
Phone Number       742
Email             1001
dtype: int64